<meta charset="UTF-8">
<h1 id="title1"class="title">MyAnimeList ID Search</h1>

<div id = "search" class="input-group mb-3">
    <form action="/" method="POST">
        <input type="text" class="form-control" placeholder="ID" aria-label="Username" aria-describedby="basic-addon1" name="conteudo">
        <button type="submit" class="btn btn-outline-dark">Search</button>
    </form>
</div>